@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --color-orange:#F08D39;
  --color-blue:#767F9E;
  --color-white:#fffbe6;
  --color-black:#000;
}
body{
  font-family:"Comfortaa"
}
.sekuya{
  font-family: "sekuya";
}
